

.navbar{
    margin:20px;
}
.navbar-brand {
    font-size: 40px;
}
.jumbotron {
    margin:40px;
}

#footerdiv {
    background-color: orange;
    color: white;
    padding:3px;
}

.col-sm h3 {
    color:blue;
}
.col-sm {
    
    margin: 20px;
    
}

.row {
    width: 70%;
    margin:auto;  
    
}
#grid {
    background-color:#8080802e; 
    width:200px;
    height:200px;
    padding: 80px 0px;
    text-align: center;
    
}    
